<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bpmEngineConfiguration" class="com.myfeike.proxy.BpmEngineConfiguration">
        <property name="dataSource" ref="dataSource" />
        <property name="transactionManager" ref="transactionManager" />

        <!-- 自定义元素执行行为 -->
        <property name="activityBehaviorFactory">
            <bean class="com.myfeike.activiti.bpmn.parse.ActivityBehaviorFactory" />
        </property>
        <property name="bpmnParser">
            <bean class="com.myfeike.activiti.bpmn.parse.ActivitiBpmnParser" />
        </property>
        <!-- 自定义行为 end -->
    </bean>
    <bean id="bpmEngine" class="com.myfeike.proxy.BpmFactoryBean"
          destroy-method="destroy">
        <property name="bpmEngineConfiguration" ref="bpmEngineConfiguration" />
    </bean>

    <bean id="taskOperateService" factory-bean="bpmEngine" factory-method="getTaskOperateService"/>

</beans>