<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- com.myfeike.activiti.proxy 包 测试activiti 代理,仅做测试用  -->
    <bean id="bpmEngineConfiguration" class="com.myfeike.activiti.proxy.BpmEngineConfiguration">
        <property name="dataSource" ref="dataSource" />
        <property name="transactionManager" ref="transactionManager" />

    </bean>
    <bean id="bpmEngine" class="com.myfeike.activiti.proxy.BpmFactoryBean"
          destroy-method="destroy">
        <property name="bpmEngineConfiguration" ref="bpmEngineConfiguration" />
    </bean>

    <bean id="taskOperateService" factory-bean="bpmEngine" factory-method="getTaskOperateService"/>

</beans>