<!DOCTYPE logback>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern><![CDATA[date:%d{yyyy-MM-dd HH:mm:ss}\tmsg:%msg\tthread:%thread\tlevel:%-5level\tlogger:%-48logger{48}%n]]></Pattern>
        </encoder>
    </appender>

    <appender name="ROLLING"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <File>target/log/edp3.log</File>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>target/log/edp3-%d{yyyyMMdd}.log
            </FileNamePattern>
            <MaxHistory>2</MaxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern><![CDATA[date:%d{yyyy-MM-dd HH:mm:ss}\tmsg:%msg\tthread:%thread\tlevel:%-5level\tlogger:%-48logger{48}%n]]></Pattern>
        </encoder>
    </appender>

    <!-- Application Loggers -->
    <logger name="com.myfeike">
        <level value="INFO" />
    </logger>

    <!-- 3rdparty Loggers -->
    <logger name="org.springframework.core">
        <level value="ERROR" />
    </logger>

    <logger name="org.springframework.beans">
        <level value="ERROR" />
    </logger>

    <logger name="org.springframework.context">
        <level value="ERROR" />
    </logger>

    <logger name="org.springframework.web">
        <level value="ERROR" />
    </logger>

    <logger name="org.springframework.web.servlet">
        <level value="ERROR" />
    </logger>

    <logger
        name="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <level value="ERROR" />
    </logger>

    <logger name="org.springframework.security.core.userdetails">
        <level value="ERROR" />
    </logger>

    <!-- for hibernate3 -->
    <logger name="org.hibernate.transaction">
        <level value="ERROR" />
    </logger>

    <!-- for hibernate4 -->
    <logger name="org.hibernate.engine.transaction">
        <level value="ERROR" />
    </logger>

    <logger name="org.hibernate.cfg.annotations.QueryBinder">
        <level value="ERROR" />
    </logger>

    <logger name="org.hibernate.tool">
        <level value="ERROR" />
    </logger>

    <logger name="jdbc.sqltiming">
        <level value="ERROR" />
    </logger>
    <logger name="jdbc.resultsettable">
        <level value="ERROR" />
    </logger>
    <logger name="jdbc.resultset">
        <level value="ERROR" />
    </logger>
	<logger name="jdbc.sqlonly">
		<level value="ERROR"/>
	</logger>
	<logger name="jdbc.connection">
		<level value="ERROR"/>
	</logger>
	<logger name="jdbc.audit">
		<level value="ERROR"/>
	</logger>
	<logger name="org.activiti.*">
		<level value="ERROR"/>
	</logger>
    <root>
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ROLLING" />
    </root>
</configuration>